* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genderbox {
    width: 90%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 8%;
}
.question {
    width: 100%;
    height: 30%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radiobox {
    width: 100%;
    height: 40%;
    line-height: 3rem;
    font-size: 20px;
}
.radiobox input {
    margin-right: 0.5rem;
}
.nextButton {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextButton button {
    width: 8rem;
    height: 3rem;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.gameSection {
    width: 100%;
    height: 100%;
    display: none;
}
.title-section {
    width: 100%;
    height: 15%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    background-color: black;
    color: white;
}
.body-section {
    width: 100%;
    height: 78%;
    padding: 3% 15%;
}
.top ,.bottom {
    width: 100%;
    height: 45%;
    border: 2px solid black;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
.middle {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.footer-section {
    width: 100%;
    height: 7%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}